body {
  background-image: url('../images/backgroundHome.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.form{
    position:fixed; 
    color: black;
    top: 120px;
    margin-bottom: 1000px;
}
.form-design{
    width:500px;
    margin:0 auto;
}
.card{
    padding: 50px;
     
}