body {
  background-image: url('#');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contact{
    position:fixed; 
    left:40px; 
    top:80px;
    color:black;   
}

.form{
     position:fixed; 
    left:500px; 
    top:180px;
    color:black;
}