body {
  background-image: url('../images/backgroundHome.jpeg');
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 
.background{

    
}
.description{
    left:50%;
    position: absolute;
    top:45%;
    transform: translate(-50%,-55%);
    text-align: center;
   
   }

.description h1{
    color: white;
    align-content: center;
}
.description p {
    
    font-weight: 500;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
    justify-content: center;
    
}
