body {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
.heading{
    text-align: center;
    margin-top: 100px;
}

.bd-example{
    height: 10px; 
    width: 1320px; 
    margin-top:5%;
    margin-left: 1%;
    object-fit: cover;
}

.text{
    color: black;
}
.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    margin-top: 100px; 
    margin-right: 0%;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;  
}

.service{
    position: absolute;
    margin-bottom: 300px;
}

.pic{
      
    width:  450px;
    height: 250px;
    object-fit: cover;
}

